<!DOCTYPE html>
<html>
<head>
    <title>My Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #e3e7eb;
        }
        
        .bg-white {
            background-color: white;
        }
        
        .small-image {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand active" href="/">
            <img src="assets/img/logo-dumbways.png" alt="" width="50" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                </li>
            </ul>
            <a class="nav-link text-dark" href="/register">Register</a>
            <a class="nav-link text-dark" href="/login">Login</a>
            <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
        </div>
    </nav>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 bg-white p-3 mx-auto w-75">
                <h1>Hi! Welcome to my hut</h1>
                <p class="text-justify">My name's Rio, I learn coding because I'm interested in becoming a full-stack developer...
                    i'm looking transition to a career in web development and see full-stack development as a versatile
                    and in-demand skill set that can open up new career opportunities for me.
                </p>
                <a href="/contact" class="btn btn-dark mt-3 rounded-pill">Contact</a>
                <a href="#" class="btn btn-light mt-3">Download CV</a>
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col mt-2">
                        <div class="card">
                            <img src="assets/img/logo-html.png" class="card-img-top" alt="logo html" width="auto" height="150">
                            <div class="card-body">
                                <h5 class="card-title">HTML</h5>
                                <p class="card-text">The standard markup language used for creating the structure and content of web pages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="card">
                            <img src="assets/img/logo-css.png" class="card-img-top" alt="logo css" width="auto" height="150">
                            <div class="card-body">
                                <h5 class="card-title">CSS</h5>
                                <p class="card-text">Is a style sheet language used for describing the presentation and layout of a document written in HTML.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="card">
                            <img src="assets/img/javascript.png" class="card-img-top" alt="logo javascript" width="auto" height="140">
                            <div class="card-body">
                                <h5 class="card-title">JAVASCRIPT</h5>
                                <p class="card-text">Is a programming language that adds interactivity and dynamic behavior to web pages.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h5 class="mt-4">Found me on</h5>
                <div class="mt-1 align-items-start">
                    <a href="https://www.linkedin.com/in/rio-fauzi-900858248/" target="_blank">
                        <img src="assets/img/linkedin_icon.png" alt="" width="28" height="28">
                    </a>
                    <a href="https://www.instagram.com/rio_fauzii/" target="_blank">
                        <img src="assets/img/logo-ig.png" alt="" width="28" height="28">
                    </a>
                    <a href="https://www.facebook.com/rio.fauzi.378/" target="_blank">
                        <img src="assets/img/logo-fb.png" alt="" width="30" height="30">
                    </a>
                    <a href="https://github.com/riofauzi708" target="_blank">
                        <img src="assets/img/github-icon.png" alt="" width="30" height="30">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column bg-white w-75 mx-auto">
                <img class="img-fluid rounded-0 mt-5" src="assets/img/ai Image.jpg" alt="ai image">
                <h1 class="text-center mt-4">Rio Fauzi</h1>
                <p class="text-center mt-2">Fullstack Developer</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>