<!DOCTYPE html>
<html>
<head>
    <title>Testimonial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="assets/img/logo-dumbways.png" alt="" width="40" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-black" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                </li>
            </ul>
            <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
        </div>
    </nav>
    <h1 class="text-center my-4">My Testimonials</h1>
    <div class="container text-center">
        <p class="my-4">Rating By Star</p>
        <div class="d-flex flex-wrap justify-content-center mb-4">
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">All</button>
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">1★</button>
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">2★</button>
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">3★</button>
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">4★</button>
            <button type="button" class="btn btn-dark mx-2 my-2 px-4">5★</button>
        </div>
    </div>
    <div class="container d-flex flex-row flex-wrap justify-content-center" id="testimonials">
      <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/testimonial1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Some quick example text to build on"</p>
          <h5 class="card-title text-right">- Rio Fauzi</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/testimonial2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Boleh juga"</p>
          <h5 class="card-title text-right">- Jodi</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/testimonial3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"penampilan yang sempurna"</p>
          <h5 class="card-title text-right">- Suparman</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/testimonial4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Saya tertarik"</p>
          <h5 class="card-title text-right">- Marsha</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;">
        <img class="card-img-top" src="assets/img/testimonial5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Saya setuju dengan anda"</p>
          <h5 class="card-title text-right">- Mila</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{!-- <script src="assets/js/ajax.js"></script> --}}
</body>
</html>